########################################
# Example environment configuration file
########################################

# Host, can be local or remote
DB_HOST=localhost

# Port number for the database connection
DB_PORT=3306

# Database credentials
DB_USER=example
DB_PASS=1234

# Name of the database to connect to
DB_NAME=txprocessor